{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poll de perguntas</title>
    {% tailwind_css %}
  </head>
  <body>
    <div class="flex flex-col gap-3 justify-center items-center mt-10">
      <h1 class="text-2xl md:text-4xl">Minhas enquetes</h1>
      {% if ultimas_enquetes %}
      <ul>
        {% for question in ultimas_enquetes %}
        <li
          class="text-green-600 list-item list-disc list-inside overflow-auto md:text-lg hover:text-green-800 transition-colors"
        >
          <a href="{% url 'polls:detail' question.id %}"
            >{{ question.question_text }}</a
          >
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>Nenhuma enquete disponível.</p>
      {% endif %}
    </div>
  </body>
</html>
